* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #F6F6F6;
}

.like {
  font-size: 21px;
}

.headline {
  margin: 40px 0;
}
.headline__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 380px;
}
@media (min-width: 767px) {
  .headline__content {
    max-width: 760px;
  }
}
@media (min-width: 1023px) {
  .headline__content {
    max-width: 1024px;
  }
}
.headline__content-title {
  margin-bottom: 16px;
}
@media (min-width: 1023px) {
  .headline__content-title {
    font-size: 2.5rem;
  }
}
.headline__content-text {
  font-size: 1.125rem;
  margin-bottom: 32px;
}
.headline__content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.3), 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  color: #FFFFFF;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
  width: 218px;
}
.headline__content-button:hover {
  box-shadow: inset 0px 4px 20px 10px rgba(255, 255, 255, 0.3), 0px 4px 10px 3px rgba(0, 0, 0, 0.2509803922);
}

.steps-section {
  background-color: #FFFFFF;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 56px 0;
  gap: 16px;
  margin: 0 auto;
  max-width: 380px;
}
@media (min-width: 767px) {
  .steps {
    max-width: 80vw;
  }
}
@media (min-width: 1023px) {
  .steps {
    max-width: 80vw;
  }
}
@media (min-width: 1439px) {
  .steps {
    max-width: 80vw;
  }
}
.steps__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 767px) {
  .steps__container {
    flex-direction: row;
  }
}
.steps__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  background-color: #F6F6F6;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding-left: 40px;
}
@media (min-width: 767px) {
  .steps__item {
    width: 100%;
  }
}
.steps__item-number {
  position: absolute;
  top: 28px;
  left: -12px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border-radius: 100%;
  font-size: 0.875rem;
}
.steps__item-icon {
  color: #7E7E7E;
  font-size: 1.25rem;
}
.steps__item-icon--active {
  color: #9356DC;
}
.steps__item-text {
  font-weight: 500;
}

.restaurants {
  padding: 56px 0;
  margin: 0 auto;
  max-width: 380px;
}
.restaurants .section__title {
  margin-bottom: 32px;
}
@media (min-width: 767px) {
  .restaurants {
    max-width: 80vw;
    margin: 0 auto;
  }
}
@media (min-width: 1023px) {
  .restaurants {
    max-width: 80vw;
  }
}
@media (min-width: 1439px) {
  .restaurants {
    max-width: 80vw;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 767px) {
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  position: relative;
  border-radius: 15px;
  background-color: #FFFFFF;
}
@media (min-width: 767px) {
  .card {
    width: 45%;
  }
}
.card__image {
  object-fit: cover;
  height: 170px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__content {
  padding: 16px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}
.card__text-title {
  font-size: 1.125rem;
}
.card__text-description {
  font-size: 1.063rem;
  font-weight: 300;
}

.new-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 20px;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-size: 30px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
}
.header__form {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__form-icon {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__form-input {
  width: 150px;
  color: #353535;
  border: none;
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  margin-left: 4px;
}
.header__form-input::placeholder {
  font-weight: 500;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}
@media (min-width: 767px) {
  .footer {
    height: 114px;
    flex-direction: row-reverse;
    align-items: end;
  }
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 767px) {
  .footer__links {
    flex-direction: row;
  }
}
.footer__links-item:nth-child(-n+2) {
  font-weight: 500;
}
@media (min-width: 767px) {
  .footer__links-item:nth-child(even) {
    margin-right: 40px;
  }
  .footer__links-item:nth-child(odd) {
    margin-right: 8px;
  }
}
.footer__links-icon {
  width: 17px;
  margin-right: 8px;
  font-size: 0.875rem;
}

/*# sourceMappingURL=style.css.map */
