* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #F6F6F6;
}

.like {
  font-size: 21px;
}

.loader-container {
  background: #F6F6F6;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}
.loader-container__logo {
  z-index: 2;
  background: #F6F6F6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 290px;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.loader-container__logo::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(120px, 10px) rotate(170deg);
  opacity: 0;
  background: linear-gradient(90deg, rgba(255, 121, 218, 0.3477766106) 4%, rgba(255, 121, 218, 0.6923144258) 15%, rgba(207, 106, 219, 0.8799894958) 45%, rgba(161, 110, 222, 0.8827906162) 86%, rgba(147, 86, 220, 0.8603816527) 97%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform-origin: -120px -10px;
  animation: visible-ball 0.3s 1.9s forwards, spin 6s 2.2s ease-in-out forwards;
}
.loader-container__logo::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(120px, 10px) rotate(170deg);
  opacity: 0;
  background: linear-gradient(90deg, rgba(255, 121, 218, 0.3477766106) 4%, rgba(255, 121, 218, 0.6923144258) 15%, rgba(207, 106, 219, 0.8799894958) 45%, rgba(161, 110, 222, 0.8827906162) 86%, rgba(147, 86, 220, 0.8603816527) 97%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform-origin: -120px -10px;
  animation: visible-ball 0.3s 1.9s forwards, spin 6s 2.2s ease-in-out forwards;
  background: linear-gradient(90deg, rgba(255, 121, 218, 0.3477766106) 4%, rgba(255, 121, 218, 0.6923144258) 15%, rgba(207, 106, 219, 0.8799894958) 45%, rgba(161, 110, 222, 0.8827906162) 86%, rgba(147, 86, 220, 0.8603816527) 97%);
  transform: translate(120px, 10px) rotate(355deg);
  animation: visible-ball 0.3s 1.9s forwards, spin-reverse 6s 2.2s ease-in-out forwards;
}
.loader-container__circle {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: #353535;
  opacity: 70%;
}
.loader-container__circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  width: 320px;
  height: 320px;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  animation: circle-filling-anim 6s 2.2s forwards;
}

.logo-loader::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 38px;
  width: 196px;
  background: #F6F6F6;
  box-shadow: inset -9px 0px 8px 0px #F6F6F6;
  transform-origin: right;
  animation: logo-loader-anim 1s 1s ease-in-out forwards;
}

@keyframes visible-ball {
  to {
    opacity: 1;
  }
}
@keyframes logo-loader-anim {
  from {
    transform: translateX(-50%, -50%) scaleX(1);
  }
  to {
    transform: translate(-50%, -50%) scaleX(0);
  }
}
@keyframes spin {
  0% {
    transform: translate(120px, 10px) rotate(170deg);
  }
  15% {
    transform: translate(120px, 10px) rotate(305deg);
  }
  25% {
    transform: translate(120px, 10px) rotate(305deg);
  }
  35% {
    transform: translate(120px, 10px) rotate(340deg);
  }
  45% {
    transform: translate(120px, 10px) rotate(340deg);
  }
  55% {
    transform: translate(120px, 10px) rotate(375deg);
  }
  65% {
    transform: translate(120px, 10px) rotate(375deg);
  }
  75% {
    transform: translate(120px, 10px) rotate(410deg);
  }
  85% {
    transform: translate(120px, 10px) rotate(410deg);
  }
  100% {
    transform: translate(120px, 10px) rotate(440deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: translate(120px, 10px) rotate(355deg);
  }
  15% {
    transform: translate(120px, 10px) rotate(220deg);
  }
  25% {
    transform: translate(120px, 10px) rotate(220deg);
  }
  35% {
    transform: translate(120px, 10px) rotate(185deg);
  }
  45% {
    transform: translate(120px, 10px) rotate(185deg);
  }
  55% {
    transform: translate(120px, 10px) rotate(150deg);
  }
  65% {
    transform: translate(120px, 10px) rotate(150deg);
  }
  75% {
    transform: translate(120px, 10px) rotate(115deg);
  }
  85% {
    transform: translate(120px, 10px) rotate(115deg);
  }
  100% {
    transform: translate(120px, 10px) rotate(80deg);
  }
}
@keyframes circle-filling-anim {
  15% {
    transform: translate(-50%, -150%);
  }
  25% {
    transform: translate(-50%, -130%);
  }
  35% {
    transform: translate(-50%, -130%);
  }
  45% {
    transform: translate(-50%, -110%);
  }
  55% {
    transform: translate(-50%, -110%);
  }
  65% {
    transform: translate(-50%, -80%);
  }
  75% {
    transform: translate(-50%, -80%);
  }
  85% {
    transform: translate(-50%, -63%);
  }
  95% {
    transform: translate(-50%, -63%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.headline {
  margin: 40px 0;
}
.headline__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 380px;
}
@media (min-width: 767px) {
  .headline__content {
    max-width: 760px;
  }
}
@media (min-width: 1023px) {
  .headline__content {
    max-width: 1024px;
  }
}
.headline__content-title {
  margin-bottom: 16px;
}
@media (min-width: 1023px) {
  .headline__content-title {
    font-size: 2.5rem;
  }
}
.headline__content-text {
  font-size: 1.125rem;
  margin-bottom: 32px;
}
.headline__content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.3), 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  color: #FFFFFF;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
  width: 218px;
}
.headline__content-button:hover {
  box-shadow: inset 0px 4px 12px 4px rgba(255, 255, 255, 0.3), 0px 4px 10px 2px rgba(0, 0, 0, 0.2509803922);
}

.steps-section {
  background-color: #FFFFFF;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 56px 0;
  gap: 16px;
  margin: 0 auto;
  max-width: 380px;
}
@media (min-width: 767px) {
  .steps {
    max-width: 80vw;
  }
}
@media (min-width: 1023px) {
  .steps {
    max-width: 80vw;
  }
}
@media (min-width: 1439px) {
  .steps {
    max-width: 80vw;
  }
}
.steps__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 767px) {
  .steps__container {
    flex-direction: row;
  }
}
.steps__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  background-color: #F6F6F6;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding-left: 40px;
}
@media (min-width: 767px) {
  .steps__item {
    width: 100%;
  }
}
.steps__item-number {
  position: absolute;
  top: 28px;
  left: -12px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border-radius: 100%;
  font-size: 0.875rem;
}
.steps__item-icon {
  color: #7E7E7E;
  font-size: 1.25rem;
}
.steps__item-icon--active {
  color: #9356DC;
}
.steps__item-text {
  font-weight: 500;
}

.restaurants {
  padding: 56px 0;
  margin: 0 auto;
  max-width: 380px;
}
.restaurants .section__title {
  margin-bottom: 32px;
}
@media (min-width: 767px) {
  .restaurants {
    max-width: 80vw;
    margin: 0 auto;
  }
}
@media (min-width: 1023px) {
  .restaurants {
    max-width: 80vw;
  }
}
@media (min-width: 1439px) {
  .restaurants {
    max-width: 80vw;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 767px) {
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  position: relative;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
@media (min-width: 767px) {
  .card {
    width: 45%;
  }
}
.card__image {
  object-fit: cover;
  height: 170px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__content {
  padding: 16px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}
.card__text-title {
  font-size: 1.125rem;
}
.card__text-description {
  font-size: 1.063rem;
  font-weight: 300;
}

.new-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 20px;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-size: 30px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
}
.header__form {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__form-icon {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__form-input {
  width: 150px;
  color: #353535;
  border: none;
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  margin-left: 4px;
}
.header__form-input::placeholder {
  font-weight: 500;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}
@media (min-width: 767px) {
  .footer {
    height: 114px;
    flex-direction: row-reverse;
    align-items: end;
  }
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 767px) {
  .footer__links {
    flex-direction: row;
  }
}
.footer__links-item:nth-child(-n+2) {
  font-weight: 500;
}
@media (min-width: 767px) {
  .footer__links-item:nth-child(even) {
    margin-right: 40px;
  }
  .footer__links-item:nth-child(odd) {
    margin-right: 8px;
  }
}
.footer__links-icon {
  width: 17px;
  margin-right: 8px;
  font-size: 0.875rem;
}

/*# sourceMappingURL=style.css.map */
