@mixin device($breakpoint) {
    @if $breakpoint == tablet {
        @media (min-width: #{$tablet}) { @content;}
    } @else if $breakpoint == laptop {
        @media (min-width: #{$laptop}) { @content;}
    } @else if $breakpoint == xl-laptop {
        @media (min-width: #{$xl-laptop}) { @content;}
    }
}

@mixin button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: $font-text;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px #00000040;
    background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%  );
    color: $white;
}