// Couleurs

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$third-color-font: #008766;
$text-color: #000000;
$grey: #353535;
$light-grey: #F6F6F6;
$white: #FFFFFF;
$purple-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);


// Polices
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif;

// Breakpoints
$tablet : 767px;
$laptop : 1023px;
$xl-laptop: 1439px;

// Font-size 
$small-font: 0.875rem;
$medium-font: 1.125rem;
$large-font: 1.25rem;
$x-large-font: 2.5rem;

// Spacings
$smaller-spacing: 8px;
$small-spacing: 16px;
$x-small-spacing: 24px;
$medium-spacing: 32px;
$large-spacing: 40px;
$x-large-spacing: 56px;