.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px #00000026;
    z-index: 2;
  }

  &__form {
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &__form-icon {
    color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form-input {
    width: 150px;
    color: $grey;
    border: none;
    background-color: #eaeaea;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    margin-left: 4px;

    &::placeholder {
      font-weight: 500;
    }
  }

  // Relatif aux pages restaurants

  &__back-button {
    z-index: 3;
    position: absolute;
    top: calc(63px / 2);
    left: $x-small-spacing;
    font-size: $large-font;
    transform: translate(-50%, -50%);
  }

  &__picture {
    z-index: 2;
    width: 100vw;
    max-height: 275px;
    object-fit: cover;

    @include device(tablet) {
      max-height: 383px;
    }
  }
}
