.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    &__title {
        font-family: $font-title;
        font-style: italic;
        font-size: 30px;
    }
}