    .like-button {
        position: relative;
    }

    .unlike {
        @include like-style;
    }


    .liked {
        @include like-style;
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0;
        background: linear-gradient(180deg, #FF79DA, #9356DC);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .checkbox-like:checked ~ .liked {
        // @include visible-opacity(liked, 0.3s, 0s, ease-in-out, forwards, false, true)
    }
