.loader-container {
    background: $light-grey;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    
    &__logo {
        z-index: 2;
        background: $light-grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 290px;
        width: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &::before {
            @include loader-ball-style(false);
        }

        &::after {
            @include loader-ball-style(true);
            transform: translate(120px, 10px) rotate(355deg);
        }

        
    }

    &__circle {
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        height: 320px;
        border-radius: 50%;
        background: $grey;
        opacity: 70%;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -150%);
            width: 320px;
            height: 320px;
            background: $purple-gradient;
            animation: circle-filling-anim 6s 2.2s forwards;

        }
    }
}

.logo-loader {

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 38px;
        width: 196px;
        background: $light-grey;
        box-shadow: inset -9px 0px 8px 0px #F6F6F6;
        transform-origin: right;
        @include visible-scale('visible-logo');
        animation: visible-logo 1s 1s ease-in-out forwards;
    }
}

  @keyframes circle-filling-anim {
    15% {
        transform: translate(-50%, -150%);
    }
    25% {
        transform: translate(-50%, -130%);
    }
    35% {
        transform: translate(-50%, -130%);
    }
    45% {
        transform: translate(-50%, -110%);
    }
    55% {
        transform: translate(-50%, -110%);
    }
    65% {
        transform: translate(-50%, -80%);
    }
    75% {
        transform: translate(-50%, -80%);
    }
    85% {
        transform: translate(-50%, -63%);
    }
    95% {
        transform: translate(-50%, -63%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
  }