.loader-container {
    background: $light-grey;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    
    &__logo {
        z-index: 2;
        background: $light-grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate($translate-center, $translate-center);
        height: 290px;
        width: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &::before {
            @include loader-ball-style(false);
        }

        &::after {
            transform: translate(120px, 10px) rotate(355deg);
            @include loader-ball-style(true);
        }

        
    }

    &__circle {
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate($translate-center, $translate-center);
        width: 320px;
        height: 320px;
        border-radius: 50%;
        background: $grey;
        opacity: 70%;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate($translate-center, -150%);
            width: 320px;
            height: 320px;
            background: $purple-gradient;
            animation: circle-filling-anim 6s 2.2s forwards;

        }
    }
}

.logo-loader {

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate($translate-center, $translate-center);
        height: 38px;
        width: 196px;
        background: $light-grey;
        box-shadow: inset -9px 0px 8px 0px #F6F6F6;
        transform-origin: right;
        @include visible-scale('visible-logo');
    }
}

  @keyframes circle-filling-anim {
    15% {
        transform: translate($translate-center, -150%);
    }
    25%, 35% {
        transform: translate($translate-center, -130%);
    }
    45%, 55% {
        transform: translate($translate-center, -110%);
    }
    65%, 75% {
        transform: translate($translate-center, -80%);
    }
    85%, 95% {
        transform: translate($translate-center, -65%);
    }
    100% {
        transform: translate($translate-center, $translate-center);
    }
  }