.loader-container {
    background: $light-grey;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;

    &__logo {
        z-index: 2;
        background: $light-grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 290px;
        width: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(120px, 10px) rotate(170deg);
            opacity: 0;
            background: linear-gradient(90deg, rgba(255,121,218,0.3477766106442577) 4%, rgba(255,121,218,0.6923144257703081) 15%, rgba(207,106,219,0.8799894957983193) 45%, rgba(161,110,222,0.8827906162464986) 86%, rgba(147,86,220,0.8603816526610644) 97%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transform-origin: -120px -10px;
            animation: visible-ball 0.3s 1.9s forwards, spin 6s 2.2s ease-in-out forwards;
        }

        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(120px, 10px) rotate(355deg);
            opacity: 0;
            background: linear-gradient(90deg, rgba(255,121,218,0.3477766106442577) 4%, rgba(255,121,218,0.6923144257703081) 15%, rgba(207,106,219,0.8799894957983193) 45%, rgba(161,110,222,0.8827906162464986) 86%, rgba(147,86,220,0.8603816526610644) 97%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transform-origin: -120px -10px;
            animation: visible-ball 0.3s 1.9s forwards, spin-reverse 6s 2.2s ease-in-out forwards;
        }

        
    }
    &__circle {
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        height: 320px;
        border-radius: 50%;
        background: $grey;
        opacity: 70%;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -150%);
            width: 320px;
            height: 320px;
            background: $purple-gradient;
            animation: circle-filling-anim 6s 2.2s forwards;

        }
    }
}

.logo-loader {

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 38px;
        width: 196px;
        background: $light-grey;
        box-shadow: inset -9px 0px 8px 0px #F6F6F6;
        transform-origin: right;
        animation: logo-loader-anim 1s 1s ease-in-out forwards;
    }
}

@keyframes visible-ball {
    to {
        opacity: 1;
    }
}

@keyframes logo-loader-anim {
    
   from {
    transform: translateX(-50%, -50%) scaleX(1);
   } 
   to {
    transform: translate(-50%, -50%) scaleX(0);
   }
}

@keyframes spin {
    0% {
      transform: translate(120px, 10px) rotate(170deg);
    }
    15% {
        transform: translate(120px, 10px) rotate(305deg);
    }
    25% {
        transform: translate(120px, 10px) rotate(305deg);
    }
    35% {
        transform: translate(120px, 10px) rotate(340deg);
    }
    45% {
        transform: translate(120px, 10px) rotate(340deg);
    }
    55% {
        transform: translate(120px, 10px) rotate(375deg);
    }
    65% {
        transform: translate(120px, 10px) rotate(375deg);
    }
    75% {
        transform: translate(120px, 10px) rotate(410deg);
    }
    85% {
        transform: translate(120px, 10px) rotate(410deg);
    }
    100%{
      transform: translate(120px, 10px) rotate(440deg);
    }
  }

@keyframes spin-reverse {
    0% {
      transform: translate(120px, 10px) rotate(355deg);
    }
    15% {
        transform: translate(120px, 10px) rotate(220deg);
    }
    25% {
        transform: translate(120px, 10px) rotate(220deg);
    }
    35% {
        transform: translate(120px, 10px) rotate(185deg);
    }
    45% {
        transform: translate(120px, 10px) rotate(185deg);
    }
    55% {
        transform: translate(120px, 10px) rotate(150deg);
    }
    65% {
        transform: translate(120px, 10px) rotate(150deg);
    }
    75% {
        transform: translate(120px, 10px) rotate(115deg);
    }
    85% {
        transform: translate(120px, 10px) rotate(115deg);
    }
    100%{
      transform: translate(120px, 10px) rotate(80deg);
    }
  }

  @keyframes circle-filling-anim {
    15% {
        transform: translate(-50%, -150%);
    }
    25% {
        transform: translate(-50%, -130%);
    }
    35% {
        transform: translate(-50%, -130%);
    }
    45% {
        transform: translate(-50%, -110%);
    }
    55% {
        transform: translate(-50%, -110%);
    }
    65% {
        transform: translate(-50%, -80%);
    }
    75% {
        transform: translate(-50%, -80%);
    }
    85% {
        transform: translate(-50%, -63%);
    }
    95% {
        transform: translate(-50%, -63%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
  }